<div class="container">
  <mat-toolbar>
    <span>{{ "init-title" | transloco }}</span>
  </mat-toolbar>
  <mat-grid-list class="mt-30" cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <p>
        <i
          >Are you ready to dive into the extraordinary universe of superheroes?
          Look no further, because you've just landed in the ultimate
          destination for all superhero enthusiasts! <br /><br />
          Whether you're a die-hard fan of the legendary figures from the pages
          of Marvel or DC Comics, or you're eager to discover new and emerging
          heroes, you're in for an exhilarating ride.
          <br /><br />
          Explore our vast collection of superheroes, each with their own unique
          powers. From the iconic might of Superman to the enigmatic agility of
          Spider-Man, from the dazzling wisdom of Wonder Woman to the
          technological genius of Iron Man, our lineup is packed with an array
          of remarkable characters to ignite your imagination and stir your
          spirit.
        </i>
      </p>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../../../../assets/img/create-superhero.jpg" />
    </mat-grid-tile>
  </mat-grid-list>
</div>
